.benefits-section {
  position: relative;
  background: url('./img/why-section/decor-leaf-grey.png') left top 57% no-repeat;

  &:before {
    content: url('./img/why-section/rasp-bars.png');
    position: absolute;
    bottom: -80px;
    left: 0;
  }
}