$containerWidth: 940px;
$baseFontSize: 18px;

// colors
$blue: #61c4d9;
$darkGreen: #0b4d3c;

// z-indexes
$z-fixed-menu: 100;

.btn {
  font-weight: bold;
  padding: 20px 45px;
  text-transform: uppercase;
  border-radius: 100px;
  line-height: 1;
  text-decoration: none;
  display: inline-block;
  border: none;

  &-white {
    background: #fff;
    color: $darkGreen;

    &:hover {
      background: $darkGreen;
      color: #fff;
    }
  }

  &-green {
    background: $darkGreen;
    color: #fff;

    &:hover {
      background: #fff;
      color:$darkGreen;
    }
  }
  
  &-transparent {
    background: transparent;
    color: #000;
    text-transform: none;

    &:hover {
      color:$darkGreen;
    }
  }
}