.features {
  display: flex;
}

.features__item {
  margin-right: rem(56px);

  &:last-child {
    margin-right: 0;
  }
}

.feature {
  display: flex;
  align-items: end;
}

.feature__icon {
  width: rem(52px);
  height: rem(45px);
  margin-right: rem(7px);
  fill: #c6f7ff;
}

.feature__text {
  font-size: rem(16px);
  max-width: rem(85px);
}