.reviews-section {
  position: relative;
  background: url('../img/reviews-section/strawberry.png') right 1% top 4% no-repeat;

  @include phones {
  background-size: 30%;
  }

  &:before {
    content: url('../img/reviews-section/grey-leaf-berries.png');
    position: absolute;
    bottom: rem(-160px);
    left: 0;

    @include tablets {
      content: "";
      background: url('../img/reviews-section/grey-leaf-berries.png');
      position: absolute;
      width: rem(140px);
      height: rem(300px);
      background-repeat: no-repeat;
      background-size: 75%;
    }
  }
}