.social-icons {
  display: flex;
  flex-direction: row;
}

.social-icons__item {
  margin-right: rem(20px);

  &:last-child {
    margin-right: 0;
  }
}

.social-icons__item--svg {
  width: rem(20px);
  height: rem(20px);
  opacity: .3;

  &--active {
    opacity: 1;
  }
}