.team-section {
    position: relative;

    &:after {
        content: "";
        position: absolute;
        background: url('../img/team-section/raspberry.png');
        background-repeat: no-repeat;
        z-index: 1;
        width: rem(104px);
        height: rem(114px);
        bottom: rem(-46px);
        left: rem(32px);

        @include tablets {
            background-size: 85%;
        }
    }
}

.team--version--desktop {
    display: flex;

    @include tablets {
        display: none;
    }
}

.team--version--mobile {
    display: none;

    @include tablets {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}

.team__elem {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    text-align: center;
    margin-right: rem(20px);
    max-width: rem(260px);

    &:last-child {
        margin-right: 0;
    }

    @include tablets {
        margin-right: 0;
        margin-bottom: rem(20px);

        &:last-child {
            margin-bottom: 0;
        }
    }
}

.team__member {
    margin-bottom: rem(20px);
}

.team__member-name {
    font-size: rem(21px);
    font-weight: 700;
    display: flex;
    align-items: center;
    margin-bottom: rem(10px);
}

.triangle-icon {
    margin-left: rem(5px);
}

.team__member-desc {
    position: absolute;
    top: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    height: 0;
    transition: height .3s;

    @include tablets {
        position: relative;
    }
}

.team__member-position {
    font-weight: 500;
}

.team__content-text {
    text-align: center;
    font-weight: 300;
}

.team__member-pic {
    display: inline-block;
    margin-top: 10px;
}

.triangle-icon {
    transition: transform .3s;
}
.team__elem.active .triangle-icon {
    transform: rotate(180deg);
}