.order-section {
  background: url("../../img/order-section/bg-order.png");
  height: 100vh;
  min-height: 650px;
  color: #fff;
  position: relative;
}
.order-section:before {
  position: absolute;
  left: 2%;
  bottom: 6%;
  content: url("../../img/order-section/blueberry.png");
}
.order-section:after {
  position: absolute;
  right: 0.5%;
  bottom: 6%;
  content: url("../../img/order-section/leaf.png");
}

.section__title {
  color: #365a49;
}