// .accordeon-section {
//     position: relative;
//     background: url('../img/accordeon/bg.png'), #000;
//     background-size: cover;
// }

// .accordeon__list {
//     position: absolute;
//     top: 0;
//     right: 0;
//     height: 100%;
//     display: flex;
// }

// .accordeon__item {
//     height: 100%;
//     display: flex;
// }

// .accordeon__trigger {
//     display: flex;
//     width: rem(100px);
//     background-position: left bottom;
//     background-size: cover;
//     justify-content: center;
//     align-items: flex-end;
//     text-decoration: none;
//     padding-bottom: rem(40px);
// }

// .accordeon__wrap {
//     width: 0;
//     overflow: hidden;
//     transition: width 1s;
// }

// .active .accordeon__wrap {
//     width: rem(630px);
    
//     @include tablets {
//         width: rem(468px);
//     }
// }

// .accordeon__content {
//     width: rem(630px);
//     padding: rem(50px) rem(127px) rem(50px) rem(27px);
//     overflow-y: auto;
//     background-color: rgba(51, 53, 55, .93);
//     color: #ffffff;
//     font-size: rem(16px);
//     font-weight: 400;
//     line-height: rem(23.97px);
//     position: relative;
//     height: 100%;
// }








// .accordeon__close {
//     position: absolute;
//     right: rem(32px);
//     top: rem(26px);
//     color: #fff
// }


.section__title--accordeon {
    position: absolute;
    top: 10%;
    left: 7%;
    color: #fff;
}

.accordeon__title {
    color: #ffffff;
    font-size: rem(48px);
    font-weight: 700;
    transform: rotate(-90deg);
    white-space: nowrap;
    width: 100%;
    width: 100%;
    position: absolute;
    bottom: 8%;
}

.accordeon-section {
    position: relative;
    background: url('../img/accordeon/bg.png') #000;
    color: #fff;
    background-size: cover;
    background-repeat: no-repeat;
}

.accordeon__list {
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    display: flex;
}

.accordeon__item {
    display: flex;   
}

.accordeon__trigger {
    position: relative;
    width: 100px;
    text-decoration: none;

    @include phones {
        width: 18vmin;
    }
        
    &--1 {
        background: url('../img/accordeon/trig1.png') #000;
        background-repeat: no-repeat;
        background-size: cover;
    }
   
    &--2 {
        background: url('../img/accordeon/trig2.png') #000;
        background-repeat: no-repeat;
        background-size: cover;
    }
   
    &--3 {
        background: url('../img/accordeon/trig3.png') #000;
        background-repeat: no-repeat;
        background-size: cover;
    }
}

// .accordeon__trigger:after {
//     content: "";
//     display: block;
//     top: 0;
//     bottom: 0;
//     left: 0;
//     right: 0;
//     position: absolute;
//     background: rgba(0, 0, 0, 0.4);
// }

.accordeon__wrap {
    background: rgba(47, 50, 52, 0.9);
    width: 0;
    position: relative;
    overflow: hidden;
    transition: width 1s;
}

.accordeon__content {
    padding: rem(40px) rem(73px) rem(45px) rem(26px);
}